# Папки
/.storage/
/.cloud
/.vscode/
/custom_components/
/deps/
/themes/
/tts/
/www/

# Файлы
/.HA_VERSION
/ha_v2.db
/ha_v2.db-shm
/ha_v2.db-wal
/home-assistant.log
/secrets.yaml
/webostv.conf
/includes/packages/_test.yaml

ui-lovelace.yaml
.shopping_list.json
home-assistant.log.1
home-assistant.log.fault
